*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hind Madurai', sans-serif;
}
html{
    background-color: rgb(4, 87, 4);
}
header{
    display: flex;
    justify-content: center;
    margin: 4rem;
    color: #ffffff;
}
#game-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#game-container .starting-cards, #game-container .hit-card{
    width: 49%;
    height: 200px;
}
#player{
    color: red;
}
#banker{
    color: yellow;
}
#player, #banker{
    display: flex;
    justify-content: center;
}
#player-cards, #banker-cards, #player-hit-card, #banker-hit-card{
    display: flex;
    justify-content: center;
}
#player-cards img, #banker-cards img, #player-hit-card img, #banker-hit-card img{
    height: 175px;
    width: 125px;
    margin: 10px;
}
#back-button{
    position: absolute;
    margin-left: 1rem;
}
#play-button, #back-button{
    font-size: 1.25rem;
    box-shadow: 0 0.9rem 2.8rem rgba(241, 59, 68, 0.493);
    width: 10em;
    height: 5ex;
    font-weight: bold;
    color: #FFE9A0;
    cursor: pointer;
    padding: 10px;
    border: 2px solid yellow;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
}
#play-button:hover, #back-button:hover {
    color: #CC3636;
    text-shadow: 8px 8px 11px rgba(241, 59, 68, 0.493);
    border: 2px solid #f3a42c;
}
#play-button:active, #back-button:active {
    box-shadow: 2px 2px 5px #fc894d;
}
#betting-container{
    height: 30%;
}
#credits{
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
}
#play-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate {
    transform: rotate(90deg);
}
form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.hidden{
    visibility: hidden;
    display: none;
}

.pop-up{
    width: 25rem;
    background-color: #ffffff;
    border-radius: 1rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 2rem 2rem;
    visibility: hidden;
    transition: transform 0.7s, 0.7s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.pop-up h2{
    font-size: 2.5rem;
    font-weight: 500;
    margin:  2rem 0 1rem;
}
#pop-up button{
    width: 100%;
    margin-top: 3rem;
    padding: 0.625rem 0;
    background: #6fd649;
    border: 0;
    outline: none;
    font-size: 1.125rem;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#landing-section{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#landing-section button{
    width: 40%;
    color: #FFE9A0;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    border: 2px solid yellow;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 0.9rem 2.8rem rgba(241, 59, 68, 0.493);
    margin: 3rem;
}
#landing-section button:hover{
    color: #CC3636;
    text-shadow: 8px 8px 11px rgba(241, 59, 68, 0.493);
    border: 2px solid #f3a42c;
}
.starting-button-div{
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  display: none;
}
.active{
    visibility: visible;
}